@page
@using SomeBoard.Shared.Posting
@model SomeBoard.Frontend.Pages.IndexModel
@foreach (var error in (List<string>?)ViewData[IndexModel.ERRORS_DATANAME] ?? [])
{
    <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Error:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            @error
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="text-center">
    @{
        var posts = (ServerPostDTO[]?)ViewData[IndexModel.POSTS_DATANAME] ?? [];
    }
    @foreach (var post in posts)
    {
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <p class="card-text text-body">@post.Message</p>
                <h6 class="card-subtitle mb-2 text-body-secondary">Author: @post.Author</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">Published: @post.PublishTime.ToString("D T")</h6>
                <h6 class="card-subtitle mb-2 text-body-tertiary subtile">ID: @post.PostId</h6>
            </div>
        </div>
    }

    @{
        string? bannerTitle = (string?) ViewData[IndexModel.PAGEBANNER_TITLE_DATANAME];
        bool isInputHidden = (bool?) ViewData[IndexModel.IS_INPUT_HIDDEN_DATANAME] ?? true;
    }
    @if (bannerTitle != null)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@bannerTitle</h5>
                <p class="card-text">@ViewData[IndexModel.PAGEBANNER_TEXT_DATANAME]</p>
            </div>
        </div>
    }
</div>
@if (!isInputHidden)
{
    <nav class="navbar fixed-bottom navbar-expand-sm bg-body-tertiary">
        <form class="container-fluid flex-nowrap text-center"  style="display: inline-block;">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Username</span>
                <input type="text" id="input-username" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1"/>
            </div>
            <div class="input-group" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
                <span class="input-group-text" id="basic-addon2">Text</span>
                <textarea id="input-text" class="form-control" type="text" placeholder="" aria-label="Text"></textarea>
            </div>
            <button class="btn btn-outline-success" id="input-btn" disabled type="submit" style="width: 100%">Send</button>
        </form>
    </nav>
}